<div class="container-fluid p-4 mt-5">
    <div class="row">
        {{#each projects}}
        <div class="col-md-10 col-lg-5 col-sm-12 mb-4 d-flex flex-row border ps-0 mx-auto">
            <img class="w-50 img-project " alt="logo proyecto">
            <div class="ms-3 mt-3 mb-3">
                <h4 style="text-transform: capitalize;">
                    {{nombre}}
                </h4>
                <span style="color: #adaeaf;">Creado: {{timeago created_at}}</span>
                <hr>
                <p style="text-align: justify;">{{descripcion}}</p>
                <span>Duración del proyecto: {{tiempo_ejecucion}} meses</span><br><br>
                <span style="text-transform: capitalize; text-align: right;">Operador: <b>{{operador}}</b></span> <br>
                <div class="options d-flex justify-content-center mt-3">
                    <a href="/projects/edit/{{id}}" class="btn btn-secondary w-50 mx-2"> Editar</a>
                    <a href="/projects/delete/{{id}}" class="btn btn-danger w-50"> Borrar</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script>

    function randomNumber(numeroImages) {
        aleatorio = Math.random() * (numeroImages);
        aleatorio = Math.floor(aleatorio);
        return aleatorio;
    }

    function randomImage() {
        images = [];
        images[0] = '/img/img_random/1.jpg';
        images[1] = '/img/img_random/2.jpg';
        images[2] = '/img/img_random/3.jpg';
        images[3] = '/img/img_random/4.jpg';
        images[4] = '/img/img_random/5.jpg';
        images[5] = '/img/img_random/6.jpg';
        images[6] = '/img/img_random/7.jpg';
        images[7] = '/img/img_random/8.jpg';
        images[8] = '/img/img_random/9.jpg';
        images[9] = '/img/img_random/10.jpg';

        const srcImg = document.getElementsByClassName('img-project');

        for (element in srcImg) {
            srcImg[element].src = images[randomNumber(images.length)];
        }
    }

</script>